/* LogPage Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #3bc8a7;
    color: #e0e0e0;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.search-filters {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.search-filters label {
    margin-right: 10px;
}

input {
    padding: 5px;
    border: 1px solid #333;
    background-color: #1f1f1f;
    color: #e0e0e0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #333;
    text-align: center;
}

th {
    background-color: #1f1f1f;
}

tbody tr:nth-child(even) {
    background-color: #1a1a1a;
}
body{
    background-color: #7de68d; 
}
